<form class="mob" novalidate>
  <br/>
  <ion-row>
    <ion-col>
      <ion-input type="number" [label]="'BESTIARY.CURRENTLEVEL' | translate" aria-label='CURRENTLEVEL'
                 name="baseLevel"
                 label-placement="floating" fill="outline" [(ngModel)]="baseLevel"></ion-input>
    </ion-col>
    <ion-col>
      <ion-input type="number" [label]="'BESTIARY.BONUSLEVEL' | translate" aria-label='MIND' name="mind"
                 label-placement="floating" fill="outline" [(ngModel)]="bonusLevel"></ion-input>
    </ion-col>
  </ion-row>

  <br/>
  <ion-input type="number" [label]="'BESTIARY.BODY' | translate" aria-label='BODY' name="body"
             label-placement="floating" fill="outline" [(ngModel)]="body"></ion-input>
  <br/>
  <ion-input type="number" [label]="'BESTIARY.MIND' | translate" aria-label='MIND' name="mind"
             label-placement="floating" fill="outline" [(ngModel)]="mind"></ion-input>
  <br/>

  <ion-item fill="outline">
    <ion-radio-group [(ngModel)]="mobModifier" name="mobModifier">
      <ion-radio aria-label='NORMAL' value="NORMAL">{{'BESTIARY.NORMAL' | translate}}</ion-radio>
      <br/>
      <ion-radio aria-label='MIGHTY' value="MIGHTY">{{'BESTIARY.MIGHTY' | translate}}</ion-radio>
      <br/>
      <ion-radio aria-label='LEGENDARY' value="LEGENDARY">{{'BESTIARY.LEGENDARY' | translate}}</ion-radio>
      <br/>
    </ion-radio-group>
  </ion-item>

  <ion-button expand="full" (click)="upgradeCreature()"
              [disabled]="mind == null || body == null || bonusLevel == null || baseLevel == null">
    {{'BESTIARY.UPGRADE' | translate}}
  </ion-button>

  <ion-list *ngIf="upgradedHP > 0" class="updated-mob">
    <ion-item-divider>
      <ion-label>
        {{'BESTIARY.MAINSTATS' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-badge slot="start"> {{upgradedHP}}</ion-badge>
      <ion-label>{{'BESTIARY.HP' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start"> {{upgradeBody + upgradeMind}}</ion-badge>
      <ion-label>{{'BESTIARY.INITIATIVE' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradeBody}}</ion-badge>
      <ion-label>{{'BESTIARY.BODY' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradeMind}}</ion-badge>
      <ion-label>{{'BESTIARY.MIND' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note>{{'BESTIARY.RANDOM-ATTR-HELP_CREATURE' | translate}}</ion-note>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        {{'BESTIARY.BONUSES' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      + {{damageBonus}}&nbsp;<img src="/assets/fallout-dice/side6.png" alt="CombatDice"
                                  class="ico24"/>&nbsp; {{'BESTIARY.DAMAGEBONUS' | translate}}
    </ion-item>
    <ion-item>
      + {{armorBonus}} {{'BESTIARY.DAMAGERESIST' | translate}}
    </ion-item>
  </ion-list>
</form>
