<form class="mob" novalidate>
  <br/>
  <ion-row>
    <ion-col>
      <ion-input type="number" [label]="'BESTIARY.CURRENTLEVEL' | translate" aria-label='CURRENTLEVEL'
                 name="baseLevel"
                 label-placement="floating" fill="outline" [(ngModel)]="baseLevel"></ion-input>
    </ion-col>
    <ion-col>
      <ion-input type="number" [label]="'BESTIARY.BONUSLEVEL' | translate" aria-label='MIND' name="mind"
                 label-placement="floating" fill="outline" [(ngModel)]="bonusLevel"></ion-input>
    </ion-col>
  </ion-row>

  <br/>
  <ion-input type="number" [label]="'BESTIARY.STRENGTH' | translate" aria-label='STRENGTH' name="strength"
             label-placement="floating" fill="outline" [(ngModel)]="strength"></ion-input>
  <br/>
  <ion-input type="number" [label]="'BESTIARY.PERCEPTION' | translate" aria-label='PERCEPTION' name="perception"
             label-placement="floating" fill="outline" [(ngModel)]="perception"></ion-input>
  <br/>
  <ion-input type="number" [label]="'BESTIARY.ENDURANCE' | translate" aria-label='ENDURANCE' name="endurance"
             label-placement="floating" fill="outline" [(ngModel)]="endurance"></ion-input>
  <br/>
  <ion-input type="number" [label]="'BESTIARY.CHARISMA' | translate" aria-label='CHARISMA' name="charisma"
             label-placement="floating" fill="outline" [(ngModel)]="charisma"></ion-input>
  <br/>
  <ion-input type="number" [label]="'BESTIARY.INTELLIGENCE' | translate" aria-label='INTELLIGENCE'
             name="intelligence"
             label-placement="floating" fill="outline" [(ngModel)]="intelligence"></ion-input>
  <br/>
  <ion-input type="number" [label]="'BESTIARY.AGILITY' | translate" aria-label='AGILITY' name="agility"
             label-placement="floating" fill="outline" [(ngModel)]="agility"></ion-input>
  <br/>
  <ion-input type="number" [label]="'BESTIARY.LUCK' | translate" aria-label='LUCK' name="luck"
             label-placement="floating" fill="outline" [(ngModel)]="luck"></ion-input>
  <br/>

  <ion-item fill="outline">
    <ion-radio-group [(ngModel)]="mobModifier" name="mobModifier">
      <ion-radio aria-label='NORMAL' value="NORMAL">{{'BESTIARY.NORMAL' | translate}}</ion-radio>
      <br/>
      <ion-radio aria-label='NOTABLE' value="NOTABLE">{{'BESTIARY.NOTABLE' | translate}}</ion-radio>
      <br/>
      <ion-radio aria-label='MAJOR' value="MAJOR">{{'BESTIARY.MAJOR' | translate}}</ion-radio>
      <br/>
    </ion-radio-group>
  </ion-item>

  <ion-button expand="full" (click)="upgradeCreature()"
              [disabled]="perception == null || agility == null || bonusLevel == null || baseLevel == null">
    {{'BESTIARY.UPGRADE' | translate}}
  </ion-button>

  <ion-list *ngIf="upgradedHP > 0" class="updated-mob">
    <ion-item-divider>
      <ion-label>
        {{'BESTIARY.MAINSTATS' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-badge slot="start"> {{upgradedHP}}</ion-badge>
      <ion-label>{{'BESTIARY.HP' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start"> {{initiative}}</ion-badge>
      <ion-label>{{'BESTIARY.INITIATIVE' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradedStrength}}</ion-badge>
      <ion-label>{{'BESTIARY.STRENGTH' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradedPerception}}</ion-badge>
      <ion-label>{{'BESTIARY.PERCEPTION' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradedEndurance}}</ion-badge>
      <ion-label>{{'BESTIARY.ENDURANCE' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradedCharisma}}</ion-badge>
      <ion-label>{{'BESTIARY.CHARISMA' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradedIntelligence}}</ion-badge>
      <ion-label>{{'BESTIARY.INTELLIGENCE' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradedAgility}}</ion-badge>
      <ion-label>{{'BESTIARY.AGILITY' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="start">{{upgradedLuck}}</ion-badge>
      <ion-label>{{'BESTIARY.LUCK' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note>{{'BESTIARY.RANDOM-ATTR-HELP_CHARACTER' | translate}}</ion-note>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        {{'BESTIARY.BONUSES' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      + {{weaponModifiers}}&nbsp; {{'BESTIARY.WEAPONMODIFIERS' | translate}}
    </ion-item>
    <ion-item>
      + {{armorModifiers}} {{'BESTIARY.ARMORMODIFIERS' | translate}}
    </ion-item>
    <ion-item>
      + {{tagSkillsBonus}} {{'BESTIARY.TAGSKILLS' | translate}}
    </ion-item>
    <ion-item>
      + {{skillPointsBonus}} {{'BESTIARY.SKILLPOINTS' | translate}}
    </ion-item>
  </ion-list>
</form>
