ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--dv-background-accent-dark);

  ul > li {
    list-style-type: none
  }
}

ion-col.detail-list {
  text-align: left;
}

ion-col.header {
  background-color: var(--dv-background-accent);
  color: #fff;
}

span.details {
  font-weight: bold;
  text-align: center;
}

ion-img.bestiary {
  width: 250px;
  height: auto;
}
